APP_ENV=local
HTTP_PORT=8080
POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/pet_social_platform?sslmode=disable
JWT_SECRET=super-secret-key
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=pet-social-images
MINIO_USE_SSL=false
